/* 从零开始，让所有的用户都一样 */
* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

html {
    font-size: 10px;
    background: url('./background.png') bottom center no-repeat;
    background-size: cover;   /* 等比例收缩 */
}
h3 {
    font-size: 10px;
    line-height: 1;
}